
.overlayContainer {
  // background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(167, 167, 167, 0.75);
}
.container {
  position: absolute;
  top: 150px;
  left: 15%;
  right: 300px;
  bottom: 70px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  div {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    // background: grey;
  }
  footer {
    display: none;
    height: 0px;
    padding: 0;
    margin: 0;
  }
  .image-container {
    width: 400px;
    img {
      width: 100%;
      // height: ;
    }
  }
}
.content {
  // background: #000;
}