
.overlayContainer {
  // background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(167, 167, 167, 0.75);
}
.container {
  position: absolute;
  top: 180px;
  left: 15%;
  right: 15%;
  bottom: auto;
  // border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  div {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    // background: grey;
  }
  .image-container {
    width: 100%;
    img {
      width: 100%;
      // height: 100%;
    }
  }
}
.content {
  height: 100%;
  width: 100%;
  // background: #000;
  .close-btn-box {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 30px;
    height: 30px;
    z-index: 100;
  .close-btn-box:hover {
    background: white;
  }
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: orange;
    }
  }
  .content-container {
    height: 100%;
    width: 100%;
    h1 {
      margin: 5px;
    }
    .meatType {
      // position: absolute;
      // top: 15px;
      // padding: 0;
      margin: 0;
    }
    .big-box {
      // position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .content-text {
        position: relative;
        padding-left: 20px;
        p {
          // box-sizing: border-box;
          margin: 0;
          line-height: 1.4;
          color: rgb(78, 78, 78);
        }
        .price {
          font-weight: 600;
          p {
            line-height: 2;
            text-align: right;
            font-size: .8em;
          }
        }
      }
    }
  }
}
@media (max-width:1280px){
  .container {
    top: 180px;
    left: 10%;
    right: 10%;
    display: flex;
    border-radius: 4px;
    padding: 20px;
  }
}
@media (max-width:980px){
  .container {
    top: 180px;
    left: 5%;
    right: 5%;
    border-radius: 4px;
    padding: 20px;
  }
}
@media (max-width:780px){
  .container {
    top: 150px;
    left: 5%;
    right: 5%;
    border-radius: 4px;
    padding: 20px;
  }
  .content {
    .content-container {
      .big-box {
        flex-direction: column;
        .content-text {
          padding: 0;
        }
      }
    }
  }
}
@media (max-width:480px){
  
}