.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  background: transparent;
  border: none;
  width: 30px;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50px;
} 
.toggle-button:focus {
  outline: none;
}
.toggle-button_line {
  background: black;
  height: 3px;
  width: 30px;
}