.side-drawer {
  height: 100vh;
  background:white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 20vw;
  min-width: 200px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  .close-btn {
    position: absolute;
    cursor: pointer;
    right: 0;
    width: 50px;
    height: 40px;
    // background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 20px;
    color: rgb(163, 163, 163);
    font-weight: 700;
    font-size: 1.5em;
  }
  .side-drawer-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .side-drawer-logo {
      width: 130px;
      margin-top: 20px;
      // padding-bottom: 8px;
      img {
        // width: 50%;
        // height: auto;
      }
    }
  }
  @media (max-width:500px){
    .side-drawer-logo-container {
      .side-drawer-logo {
        width: 100px;
      }
    }
  }
  .bigList {
    // height: 100vh; 
    // border-top: 1px solid rgb(116, 116, 116);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 1rem 0rem;
    padding-left: 3.5rem;
    // border: black solid 1px;
    li {
      margin: 0.3rem 0;
      .cat {
        color: rgb(49, 49, 49);
        font-size: 1.2rem;
      }
      .subCat-grp {
        // display: none;
        margin: 0;
        padding-left: 1rem;
        list-style: none;

        .subCat {
          line-height: 2;
          text-decoration: none;
          color: rgb(70, 70, 70);
          font-size: 0.9rem;
        }
        a:hover,
        a:active {
          color: #fa923f;
        }
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
      }
      a:hover,
      a:active {
        // background: #000;
        color: #fa923f;
        font-weight: 700;
      }
      
    }
  }
  .subscribe-box {
    // width: 100%;
    border-top: solid rgb(233, 233, 233) 1px;
    color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 15px;
    // padding-top: 25px;
    p {
      font-size: 0.7em;
    }
    input {
      width: 90%;
    }
  }
}
.side-drawer.open {
  transform: translateX(0);
}
.side-link-active {
  color: orange;
}
.hide {
  display: none;
}
.show {
  display: block;
}
