.side-drawer {
  height: 100vh ;
  background:white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  min-width: 200px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  .close-btn {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 40px;
    background: rgb(194, 80, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
  }
  .side-drawer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    // height: auto;
    img {
      width: 35%;
      height: auto;
    }
  }
  .bigList {
    height: 100vh; 
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    margin: 1.5rem;
    li {
      margin: 0.5rem 0;
      .cat {
        color: black;
        font-size: 1.2rem;
      }
      .subCat-grp {
        margin: 0;
        padding-left: 1rem;
        list-style: none;

        .subCat {
          text-decoration: none;
          color: rgb(70, 70, 70);
          font-size: 0.9rem;
        }
        a:hover,
        a:active {
          color: #fa923f;
      }
      }
      a {
        // color: black;
        text-decoration: none;
      }
      a:hover,
      a:active {
        color: #fa923f;
      }
    }
  }
}
.side-drawer.open {
  transform: translateX(0);
}