.contact-content {
  display: flex;
  justify-content: space-evenly;
  ul {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    li {
      list-style: none;
      line-height: 2;
    }
  }
  div {

  }
}