.meatContainer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  .meat-type-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // width: 100%;
    // border: solid 1px;
    h1 {
      font-size: 4em;

      text-align: center;
      padding: 20px;
    }
    .meatImgBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40vw;
      img {
        width: auto;
        width: 100%;
        // height: auto;
      }
      .chicken {
        max-width: 200px;
      }
    }
  }
}

.items {
  list-style: none;
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  box-sizing: border-box;
}
.item {
  margin: 1em 0;
  width: 300px;
  // min-width: 300px;
  // max-width: 350px;
  padding: 0;
  a {
    // background: #f4f4f4;
    color: black;
    display: block;
    text-decoration: none;
    padding: 1rem;
    // width: 100%;
  }
  a:hover {
    background: #e4e4e4;
  }
  .meatType {
    margin: 0;
    font-size: 0.7rem;
    color: #777777;
  }
  .imageContainer {
    padding: 0;
    margin: 0;
    // width: 150px;
    img {
      max-width: 100%;

    }
  }


  .itemText {
    padding: 0;
    margin-top: -15px;
  
    h2 {
      // line-height: .4;
      margin-bottom: 0;
      font-size: 1.3rem;
    }
    .description {
      margin: 10px 0px;
      color: #777777;
      font-size: .8rem;
      // font-style: italic;
    }
    .price {
      text-align: right;
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width:480px){
  .meatContainer{
    .meat-type-header{
      h1 {
        font-size: 2em;
      }
    }
  }
}









// .meatContainer::before {
//   display: block; 
//   content: " "; 
//   margin-top: -400px; 
//   height: 400px; 
//   visibility: hidden; 
//   pointer-events: none;
// }