.meatContainer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  .meat-type-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // width: 100%;
    // border: solid 1px;
    h1 {
      font-size: 4em;

      text-align: center;
      padding: 20px;
    }
    .meatImgBox {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 30vw;
      // height: 400px;
      img {
        // width: auto;
        // width: 100px;
        // height: 100px;
      }
      .chicken {
        // max-height: 20px;
        // max-width: 200px;
      }
      .seafood {
        // max-width: 200px;
      }
      .other {
        // max-width: 200px;

      }
    }
  }
}

.items {
  list-style: none;
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  box-sizing: border-box;
}
.item {
  margin: 1em 0;
  width: 300px;
  // min-width: 300px;
  // max-width: 350px;
  padding: 0;

  a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 1rem;
    transition: all .4s ease;
    // width: 100%;
  }
  a:hover {
    background: #e4e4e4;
  }
  .meatType {
    margin: 0;
    font-size: 0.7rem;
    color: #777777;
  }
  .imageContainer {
    padding: 0;
    margin: 0;
    // width: 150px;
    img {
      max-width: 100%;

    }
  }


  .itemText {
    padding: 0;
    margin-top: -10px;
  
    h2 {
      // line-height: .4;
      margin-bottom: 0;
      font-size: 1.3em;
      font-weight: 500;
    }
    .clickhere {
      color: #777777;
      font-size: .7em;
    }
    // .description {
    //   margin: 10px 0px;
    //   color: #777777;
    //   font-size: .8rem;
    //   // font-style: italic;
    // }
    .price {
      text-align: right;
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width:900px){
  .item {
    width: 250px;
    .itemText {
      h2 {
        font-size: 1.1em;
      }
      
    }
  }
}

@media (max-width:500px){
  .meatContainer{
    .meat-type-header{
      h1 {
        font-size: 2em;
      }
    }
  }
  .item {
    width: 200px;
    .itemText {
      h2 {
        font-size: 1em;
      }
      .clickhere {
        font-size: .6em;
      }
    }
  }
}









// .meatContainer::before {
//   display: block; 
//   content: " "; 
//   margin-top: -400px; 
//   height: 400px; 
//   visibility: hidden; 
//   pointer-events: none;
// }