.hero-container {
  // position: absolute;
  width: 100vw;
  height: auto;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
  }
  .open-nav-help {
    position: absolute;
    font-size: .7em;
    background: rgb(247, 234, 55);
    border-radius: 10px;
    padding: 0px 15px;
    width: 200px;
    top: 100px;
    left: 20px;
    animation: blink 3s  infinite;
    // transition: transform 3s ease;
    p {
      text-align: center;
      line-height: 15px;
    }
  }
  @keyframes blink {
    0%   {transform: scale(1);}
    50%  {transform: scale(.9);}
    100% {transform: scale(1);}
  }
  .hero-text {
    text-align: right;
    position: absolute;
    top: 170px;
    z-index: 0;
    right: 0;
    padding-right: 5%;

    .hero-header{
      color: rgb(34, 34, 34);
      font-weight: 800;
    }
    .hero-subHeader {
      color: rgb(70, 70, 70);
      font-weight: normal;
      font-size: 1em;
    }
  }
}