@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spartan', ;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  // margin: 0 auto;
  // max-width: 750px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.content {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  margin-top: 100px;
}